<%- include head.html%>

<%- include menu.html %>

<div id="gallery">
<ul>
  <li><a href="../gallery.html"><img src="../images/tb1.jpg" alt="demo" /></a></li>
  <li><a href="../gallery.html"><img src="../images/tb2.jpg" alt="demo" /></a></li>
  <li><a href="../gallery.html"><img src="../images/tb3.jpg" alt="demo" /></a></li>
  <li><a href="../gallery.html"><img src="../images/tb4.jpg" alt="demo" /></a></li>
</ul>

</div><!-- close gallery -->
 
 
<div id="intro">
<p><span>Welcome to GDS Demo Center.</span> We will show a lot of Demo from this site</p>
</div>


<div id="box_left">
<h3>About US</h3>
<p>We worked with a virtual team named DevOps
    <br>
    We focused on Bare Metal, AI, Data Streaming and everything that can be automatizated
</p>
<a href="../page.html"><img src="../images/more.png" class="more" width="68" height="24" alt="more" /></a>
</div>

<div id="box_right">
<h3>Recent</h3>
<p>What we are recently doing. latest update (latest weekly meeting) can be display here.</p>
<a href="../page.html"><img src="../images/more.png" class="more" width="68" height="24" alt="more" /></a>
</div>

<div id="box_middle">
<h3>Services</h3>
<p>Here can list some services what we can provide.</p>
<a href="../page.html"><img src="../images/more.png" class="more" width="68" height="24" alt="more" /></a>
</div>

<%- include foot.html %>

</body>
</html>
