<ul class="dropdown"><!-- menu -->

    <li><a href="rackhd.html">RackHD</a>
        <ul class="sub_menu">
            <li><a href="../RackHD_AllServer.ejs">Common Function</a>
                <ul>
                    <li><a href="../RackHD_AllServer">List All Server</a></li>
                    <li><a href="../RackHD_OBM">OBM</a></li>
                </ul>
            </li>
            <li><a href="../gallery.html">Demo2</a></li>
            <li><a href="downloadpage">Demo3</a></li>
            <li><a href="../gallery.html">Demo4</a></li>
            <li><a href="../gallery.html">Demo5</a></li>
        </ul>
    </li>

    <li><a href="../gallery.html">Data Streaming</a>
        <ul class="sub_menu">
            <li><a href="../gallery.html">Have a try on DataLake</a>
                <ul>
                    <li><a href="../uploadFiles.html">Upload A File to DataLake</a></li>
                    <li><a href="../TrySQL.html">Try SQL</a></li>
                </ul>
            </li>
            <li><a href="../gallery.html">IDCF</a></li>
            <li><a href="downloadpage">Download Page</a></li>
            <li><a href="../gallery.html">Case2</a></li>
            <li><a href="../gallery.html">Case3</a></li>
        </ul>
    </li>

    <!-- end submenu -->

    <li><a href="../page.html">AI</a></li>
    <li><a href="../page.html">Automational</a></li>
    <li><a href="../page.html">Tools</a>
        <ul class="sub_menu">
            <li><a href="AttendancePro">AttendancePro</a></li>
        </ul>
    </li>
</ul><!-- close menu -->